.appService__wrap {
  position: relative;
}

.appService__wrap .appService__inner {
  /* padding: 0 10px; */
  display: flex;
  justify-content: space-between;
}

.appService__wrap .appService__inner .appServicePreview .mockUp img {
  width: 600px;
}

.appService__wrap .appService__inner .description {
  padding: 130px;
  text-align: center;
}

.appService__wrap .appService__inner .description .titleWrap .textTitle h2 {
  font-size: 20px;
  color: #FABA03;
}

.appService__wrap .appService__inner .description .titleWrap .textTitle .sectionName {
  font-size: 45px;
  margin-top: 10px;
  font-weight: 700;
}

.appService__wrap .appService__inner .description .titleWrap .textButton {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.appService__wrap .appService__inner .description .titleWrap .textButton .icon a img {
  width: 25px;
  margin-left: 10px;
}

.appService__wrap .appService__inner .description .outLinkWrap .button {
  margin-top: 80px;
  display: inline-block;
  background-color: #FABA03;
  border-radius: 15px;
  transition: transform 0.3s;
}

.appService__wrap .appService__inner .description .outLinkWrap .button:hover {
  transform: scale(0.95);
  transition: transform 0.3s;
  background-color: #fab003;
}

.appService__wrap .appService__inner .description .outLinkWrap .button a {
  padding: 20px 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.appService__wrap .appService__inner .description .outLinkWrap .button a .icon {
  display: inline-block;
  margin-right: 10px;
}

.appService__wrap .appService__inner .description .outLinkWrap .button a .icon img {
  width: 20px;
}

.appService__wrap .appService__inner .description .outLinkWrap .more {
  margin-top: 20px;
}

.grayBackground {
  position: absolute;
  left: 0vw;
  top: -5vw;
  width: 90vw;
  height: 50vw;
  background-color: #f8f8f8;
  z-index: -1;
  border-radius: 0 80px 150px 0;
}