.onlyEmart__wrap .onlyEmart__inner {
    padding: 0 30px 100px;
}

.onlyEmart__wrap .onlyEmart__inner .titleWrap .title h3 {
    font-size: 48px;
    margin-bottom: 20px;
    font-weight: 700;
}

.onlyEmart__wrap .onlyEmart__inner .titleWrap .title p {
    color: #FABA03;
    margin-bottom: 70px;
}

.onlyEmart__wrap .onlyEmart__inner .contentWrap ul {
    display: flex;
}

.onlyEmart__wrap .onlyEmart__inner .contentWrap ul li {
    margin-left: 20px;
    border: 1px solid #d9d9d9;
    border-radius: 25px;
    text-align: center;
    height: 480px;
    width: 300px;
    transition: all 0.3s;
    box-shadow: 0px 50px 30px -35px #3933272b;
}

.onlyEmart__wrap .onlyEmart__inner .contentWrap ul li:hover {
    transition: all 0.3s;
    transform: translateY(-3%);
    box-shadow: 0px 50px 30px -35px #3933272b;
}


.onlyEmart__wrap .onlyEmart__inner .contentWrap ul li:nth-child(1) {
    margin-left: 0;
}

.onlyEmart__wrap .onlyEmart__inner .contentWrap ul li a .imgWrap img {
    width: 300px;
    height: 300px;
    border-radius: 25px;
}

.onlyEmart__wrap .onlyEmart__inner .contentWrap ul li a .desc h2 {
    font-size: 20px;
    font-weight: 600;
}

.onlyEmart__wrap .onlyEmart__inner .contentWrap ul li a .desc .pbLogo {
    height: 70px;
}

.onlyEmart__wrap .onlyEmart__inner .contentWrap ul li a .desc .pbLogo img {
    width: 30px;
    margin-bottom: 10px;
}

.onlyEmart__wrap .onlyEmart__inner .contentWrap ul li a .desc p {
    font-size: 14px;
    color: #bbb;
    margin-top: 10px;
}

.onlyEmart__wrap .onlyEmart__inner .contentWrap ul li:hover {
    box-shadow: 0 0 0 3px #FABA03;
    border: 0;
    z-index: 10;
    position: relative;
}